* {
    font-family: 'Raleway', sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 600px;*/
    margin: 2%;
    text-align: center;
}

.progress {
    width: 60%;
    margin: 0 auto;
}

.full-screen-background {
    padding: 3%;
    position: relative;
    background-color: #343a40;
    background: url("../img/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
}

.full-screen-background > div {
    text-align: center;
}